<%- include("./partials/headers/cdn.ejs") %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<title>Blog</title>
<%- include("./partials/headers/navbar.ejs") %>

<div class="container">
    <div class="row">

        <% if(currentUser && currentUser.isAdmin){ %>
        <div class="col-12 text-right mt-3">
            <a href="/blog/new" class="btn btn-success">Add a new post</a>
        </div>
        <% } %>

        <div class="col-12 d-flex justify-content-center">
            <%var blog = blogs[Math.floor(Math.random()*blogs.length)]%>
            <div class="col-12 card m-3 p-3 w-100" style="width: 18rem;">
                <img src="<%= blog.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title%></h5>
                    <p class="card-text"><%- blog.description.substring(0,200)%>
                        <a href="/blog/<%= blog.id%>">Read More...</a></p>
                </div>
            </div>
        </div>
        <% blogs.forEach(function(blog, index){ %>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <a href="/blog/<%= blog.id %>" style="text-decoration:none">
                <div class="card mb-3" style="height: 22rem;">
                    <img src="<%= blog.image%>" class="card-img-top" style="height: 12rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title%>...</h5>
                    </div>
                    <div class="card-footer bg-success text-white text-center font-weight">Read Post</div>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</div>

<%- include("./partials/footer.ejs") %>