<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/otc.css">
<title>Products</title>

<%- include("./partials/headers/navbar.ejs") %>


<div class="container">
    <div class="row">

        <div class="col-12 d-flex justify-content-center my-3 mx-auto">

            <div id="carouselWithControl" class="carousel slide" data-ride="carousel" data-interval="2500">
                <div class="carousel-inner shadow rounded">
                    <div class="carousel-item active">
                        <a href="/otc/find/Sports%20&%20Gym%20Equipment">
                            <img src="/assets/1200x250/fitnessEquipmentBanner.jpg" class="d-block w-100" alt="horlicks">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/1200x250/maxhealthBanner.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/1200x250/liveLifeBanner.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/1200x250/maxhealthBanner2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselWithControl" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselWithControl" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>


        <% products.forEach(function(product, index){ %>
        <div class="col-6 col-sm-6 col-md-4 col-lg-2 my-4 zoom d-flex justify-content-around mx-auto">
            <a href="/otc/<%= product.id %>" style="text-decoration:none">
                <div class="card text-center pt-3 border border-primary shadow" style="width: 10rem; height: 20rem;">
                    <img id="productImg" src="<%= product.image %>" class="card-img-top mx-auto" alt="product image">
                    <div class="card-body">
                        <% if(product.name.length>20){ %>
                        <% var smallName=product.name.substring(0,21)+"..."; %>
                        <h5 class="card-title text-dark font-weight-light"><%= smallName %></h5>
                        <% }else{ %>
                        <h5 class="card-title text-dark font-weight-light"><%= product.name %></h5>
                        <% } %>
                    </div>
                    <div class="card-footer bg-success text-white font-weight">₹ <%= product.price %> /-</div>
                </div>
            </a>
        </div>

        <% }); %>

    </div>
</div>

<%- include("./partials/footer.ejs") %>