<%- include("./partials/headers/cdn.ejs") %>
<link rel="stylesheet" href="/stylesheets/blog.css">
<%- include("./partials/headers/navbar.ejs") %>

<div class="container my-0 my-md-3 text-white rounded" style="background-color: rgb(34, 167, 240);">

    <% if(currentUser && currentUser.isAdmin){ %>
    <div class="row px-3 pt-3">
        <div class="col-12 text-right">
            <a id="btnUpdate" class="btn btn-success" href="/blog/<%= blog.id %>/edit">Update this post</a>
            <form id="btnDelete" action="/blog/<%= blog.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete this post</button>
            </form>
        </div>
    </div>
    <% } %>

    <div class="row p-3">
        <div class="thumbnail" style="margin:auto auto">
            <div class="p-3 mx-0 my-3 m-md-3  jumbotron border border-white"
                style="background-color: rgb(34, 167, 240);">
                <h1 class="font-weight-bold text-monospace"><%=blog.title%></h1>
                <h5 class="text-right">
                    <em>~<%=blog.author%></em>
                </h5>
            </div>
            <div class="thumbnail mx-0 my-3 m-md-3 ">
                <img class="img-responsive rounded" src="<%= blog.image %>" style="width:100%;">
            </div>
            <div class="well mx-0 my-3 m-md-3 border border-white p-3 rounded">
                <br>
                <p><%- blog.description %></p>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>